<h1>Template Driven-form</h1>
<form name="myForm" #frm = "ngForm" (ngSubmit)="onSubmitForm(frm)">
    <div class="form-group">
        <label for="firstName">First Name:</label>  
        <input type="text" name="fname" class="form-control" #fname ="ngModel"
        [(ngModel)]="fn"> 
    </div>
<div class="form-group">
    <label for="lastname">lastname:</label>
    <input type="text" name="lname" class="form-control" #lname="ngModel"ngModel>
</div>
<div class="form-group">
    <label for="email">Email:</label>
    <input type="email" name="email" class="form-control" #email="ngModel" ngModel>
</div>
<div class="form-group">
    <label for="pass">Password:</label>  
    <input type="password" name="pass" class="form-control" #pass="ngModel" ngModel> 
</div><br><br>
<!-- <div class="form-group">
<label for="cpass">Confirm Password:&nbsp;</label>    
<input type="password" name="cpass" class="form-control" #cpass="ngModel" ngModel>
</div> -->
<div class="form-group">
    <button type="submit" class="btn btn-info">Submit:</button>
</div>
</form>
<!-- <form name="myForm" #frm = "ngForm" (ngSubmit)="frm.form.valid && onSubmitForm(frm)">
    <div class="form-group">
        <label for="firstName">First Name: <span style="color: red;">*</span></label>  
        <input type="text" name="fname" class="form-control" #fname ="ngModel"
        ngModel required [ngClass] ="{'is-invalid':frm.submitted && fname.invalid}"
        placeholder="Please Enter First Name" >
        <div *ngIf="frm.submitted && fname.invalid" class="invalid-feedback">
            First Name is Required
        </div> 
    </div>

    <div class="form-group">
        <label for="lastName">Last Name:<span style="color: red;">*</span></label>  
        <input type="text" name="lname" class="form-control" #lname="ngModel" ngModel
        required [ngClass] ="{'is-invalid':frm.submitted && lname.invalid}"
        placeholder="Please Enter Last Name">
        <div *ngIf="frm.submitted && lname.invalid" class="invalid-feedback">
            Last Name is Required
        </div>  
    </div>

    <div class="form-group">
        <label for="email">Email:<span style="color: red;">*</span></label>  
        <input type="email" name="email" class="form-control" #email="ngModel" ngModel
        required [ngClass] ="{'is-invalid':frm.submitted && email.invalid}"
         pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"> 

        <div *ngIf="email.touched" class="invalid-feedback">
            <p *ngIf="email.errors?.['required']"> Email is Required </p>
            <p *ngIf="email.errors?.['pattern']"> Please Enter Valid Email </p>
        </div> 
    </div>

    <div class="form-group">
        <label for="course">Course:</label>  
        <select name="course" class="form-control" #course="ngModel" ngModel>
            <option *ngFor="let course of courses">{{courses}}</option>
        </select> 
    </div>

    <div class="form-group">
        <label for="gender">Gender:</label>  &nbsp;&nbsp;
        <input type="radio" name="gender" #gender="ngModel" ngModel value="male">&nbsp;
        <label for="male">Male</label>  &nbsp;&nbsp;
        <input type="radio" name="gender" #gender="ngModel" ngModel value="female">&nbsp;
        <label for="female">Female</label> 
    </div>

    <div class="form-group">
        <label for="pass">Password:</label>  
        <input type="password" name="pass" class="form-control" #pass="ngModel" ngModel> 
    </div>

    <div class="form-group">
        <label for="cpass">Confirm Password:</label>  
        <input type="password" name="cpass" class="form-control" #cpass="ngModel" ngModel> 
    </div> <br>

    <div class="form-group">
        <button type= "submit" class="btn btn-info">Submit</button>
    </div>

</form> -->