<h1 class="demo"> Welcome to Angular</h1>
<!-- <app-tform></app-tform> -->
<!-- <app-rform></app-rform> -->
<!-- <app-rform></app-rform> -->
<!-- <app-demo></app-demo> -->
<!-- <app-pipe></app-pipe> -->
<!-- <app-lifecycle></app-lifecycle> -->
<!-- <app-servicedata></app-servicedata> -->
<!-- <app-task></app-task>
<app-rxjs></app-rxjs> -->
<!-- <app-crudapp></app-crudapp> -->
<!-- <app-capp></app-capp> -->
<!-- <app-binding></app-binding> -->
<!-- <app-directives></app-directives> -->
<!-- <app-practics></app-practics> -->

<!-- <app-promise></app-promise>
<app-promise></app-promise> -->
<!-- <app-directive1></app-directive1> -->
<!-- <app-rrform></app-rrform> -->
<!-- <app-livecode></app-livecode> -->
<!-- <app-profile-editor></app-profile-editor> -->
<app-date15></app-date15>